{% extends 'base.html'%}

{% block content %}
<div class="librarycontainer">
    <!-- Button to edit review -->
    <div class="librarytext">
        <h1><u>THE LIBRARY</u></h1>
        <div>To find out more about each book, just click on it.</div>
        <div>Or keep scrolling down until you see one you like.</div>
        <div>
            <a class="waves-effect waves-light btn" href="{{url_for('see_library')}}">See All</a>
        </div>
        <!-- Buttons to sort by genre -->
        <div>
            <a class="waves-effect waves-light btn" href="{{url_for('contemp')}}">Contemporary</a>
            <a class="waves-effect waves-light btn" href="{{url_for('crime')}}">Crime</a>
            <a class="waves-effect waves-light btn" href="{{url_for('fantasy')}}">Fantasy</a>
            <a class="waves-effect waves-light btn" href="{{url_for('historical')}}">Historical</a>
        </div>
        <div> 
            <a class="waves-effect waves-light btn" href="{{url_for('horror')}}">Horror</a>
            <a class="waves-effect waves-light btn" href="{{url_for('romance')}}">Romance</a>
            <a class="waves-effect waves-light btn" href="{{url_for('scifi')}}">Science Fiction</a>
            <a class="waves-effect waves-light btn" href="{{url_for('thriller')}}">Thriller</a>
        </div>
        
    </div>
</div>

<!-- Section to display books -->
<div class="books-container">
    {% for book in library|reverse %}
    {% if book.genre == "Historical" %}
        <a class="books-display" href="{{url_for('view_book', book_id=book._id)}}"> <img src="{{book.image}}"></a>     
    {% endif %}
    {% endfor %}
</div>

<!-- Link to add book review -->
<div class="genrecontainer">
    <div class="genretext">
        If there aren't any reviews for this genre yet, why don't <a href="{{url_for('addbook')}}">you add one?</a>
    </div>
</div>

{% endblock %}