/* Base HTML */
body {
    color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    background-color: beige;
    flex: 1 0 auto;
    overflow: hidden;
  }

.maincontent{
    width:100%;
    height:100%;
    z-index: 1;
}

.site_title {
    margin-left:15px;
}

/* Homepage */
.homebutton{
    margin-top: 40px;
}

.hometitle{
    color: white;
    background-image: url('../images/library.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    padding-top:50px;
    padding-bottom:50px;  
    margin-bottom:15px;
    margin-top: 15px;
    height:100%;
    width:100%;
}

/* Footer */
.socialicon {
    font-size: 25px;
    margin-right: 5px;
}

.socialicon:hover {
    color: teal;
}

.footer-content{
    margin-bottom: 20px;
    margin-left: 5px;
}


/* Add Book page */
#reviewform{
    background: white;
    margin-top: 25px;
}

h1 {
    color:black;
}

#addbutton {
    margin-left:10px;
}

.image-instructions {
    margin-left:10px;
}

/* Genre pages */
.genrecontainer{
    text-align: center;
    margin-bottom: 50px;
    margin-top:50px;
}

.genretext{
    display: inline-block;
    font-size: 26px;
}

/* Library Page */
.librarycontainer{
    text-align: center;
}

.librarytext{
    display: inline-block;
    font-size: 26px;
}

img {
    width: 100%;
    height: auto;
} 

/* Books pages */
.books-container{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 0.5% 1.5%;
    height:auto;
    margin-top: 30px;
    margin-bottom:30px;
}

.books-display{
    height:100%;
    margin-bottom: 10px;
    overflow: hidden;
}

.books-display a img{
    height: 100%;
    width: 100%;
} 

@media screen and (max-width: 700px) {
 .books-container {
   display: flex;
   flex-direction: column;
  }
  .books-display{
    margin-bottom: 10px;
}
}

/* Register page */
.registerform{
    background: white;
    margin-top: 25px;
}

.formbutton{
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Try again page*/
.sorrycontainer{
    text-align: center;
}

.sorrytext{
    display: inline-block;
    font-size: 36px;
}

/* Log In page */
.logincontainer{
    text-align: center;
    margin-bottom:25px;
}

.logintext{
    display: inline-block;
    font-size: 33px;
}

/* View book review page */
.review_card{
    margin-top: 50px;
}