body {
    background-color: beige;
    color: black;
}

.site_title {
    margin-left:15px;
}

/* Add Book page */
#reviewform{
    background: white;
    margin-top: 25px;
}

h1 {
    color:black;
}

#addbutton {
    margin-left:10px;
}

/* Library Page */
.librarycontainer{
    text-align: center;
}

.librarytext{
    display: inline-block;
}

.carousel {
    margin-bottom: 25px;
}

img {
    width: 100%;
    height: auto;
}

/* View Book page */


/* Register page */
.registerform{
    background: white;
    margin-top: 25px;
}

.formbutton{
    margin-left: 10px;
    margin-bottom: 10px;
}