body {
    background-color: beige;
    color: black;
}

#reviewform{
    background: white;
    margin-top: 25px;
}

h1 {
    color:black;
}

#addbutton {
    margin-left:10px;
}

img {
    width: 100%;
    height: auto;
}

.carousel {
    margin-bottom: 25px;
}