{% extends 'base.html'%}

{% block content %}

<!-- Introductory text -->
<h4>To add your review to the library, just fill in the form below...</h4>

<!-- Form to add book review -->
<div class="row">
    <form action="{{ url_for('insert_book') }}" method="POST" class="col s12" id="reviewform">
        <div class="row">
            <!-- Section to add book title -->
            <div class="input-field col s6">
                <i class="material-icons prefix">note</i>
                <input id="title" name="title" type="text" class="validate" required>
                <label for="title">Title</label>
            </div>
            <!-- Section to add author's name -->
            <div class="input-field col s6">
                <i class="material-icons prefix">face</i>
                <input id="author" name="author" type="text" class="validate" required>
                <label for="author">Author</label>
            </div>
        </div>
        <!-- Section to pick date -->
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">today</i>
                <input type="text" class="datepicker" id="date_read" name="date_read" required>
                <label for="date_read">Date Read</label>
            </div>
        <!-- Section for user's username -->
            <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                <input value="{{session.username}}" id="username" name="username" type="text" class="validate" required>
                <label for="username">Username</label>
            </div>
        </div>
        <!-- Section to select genre -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">collections_bookmark</i>
                <select id="genreselect">
                    <option value="" disabled selected>What genre is it?</option>
                    <option value="Contemporary">Contemporary</option>
                    <option value="Crime">Crime</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Historical">Historical</option>
                    <option value="Horror">Horror</option>
                    <option value="Romance">Romance</option>
                    <option value="Science Fiction">Science Fiction</option>
                    <option value="Thriller">Thriller</option>
                </select>
                <input type="hidden" name="genre" id="genre" required/>
            </div>
            
        </div>
        <!-- Explanation of how to add link to image -->
        <div class="row">
            <div class="image-instructions">
                Search for the cover image, right-click on it, select 'Copy Image Address,' and paste the URL below. If you're on your phone, find the image, open it in a new tab, and then copy the URL from the top of your screen.
            </div>
        <!-- Section to add cover image -->
            <div class="input-field col s12">
                <i class="material-icons prefix">photo</i>
                <input id="image" name="image" type="text" class="validate" required>
                <label for="image">Link to image URL</label>
            </div>
        </div>
        <!-- Section to write book review -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
                <textarea id="book_review" name="book_review" type="text" class="materialize-textarea" placeholder="Write your review here..." required></textarea>
                <label for="book_review">Book Review</label>
                <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>
        </div>
        <!-- Button to submit review -->
        <div class="row">
            <button class="btn waves-effect waves-light" id="addbutton" type="submit">
                Add Review
                <i class="material-icons right">book</i>
            </button>
        </div>
    </form>
</div>
        

{% endblock %}