<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Book Reviews</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('home')}}" class="brand-logo site_title">The Library</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('addbook')}}">Add A Book</a></li>
                    <li><a href="{{url_for('see_library')}}">Library</a></li>
                </ul>
                
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('addbook')}}">Add A Book</a></li>
            <li><a href="{{url_for('see_library')}}">Library</a></li>
        </ul>
        
          
    </header>


    <div class="container">
        {% block content %} {% endblock %}
    </div>


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.carousel').carousel();
            $('.collapsible').collapsible();
            $('select').formSelect();
            $('.datepicker').datepicker();
            $('.sidenav').sidenav();
        });
    </script>

    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social Media</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook socialicon"></i></a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter socialicon"></i></a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram socialicon"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright Dominic Beesley
            </div>
          </div>
        </footer>

</body>
</html>