<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Shelf Life</title>
</head>
<body>
    <!-- Navbar -->
    <header>
    <!-- Navbar dropdown section -->
        <ul id="dropdown1" class="dropdown-content red lighten-4">
            <li><a href="{{url_for('see_library')}}">All Books</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('contemp')}}">Contemporary</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('crime')}}">Crime</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('fantasy')}}">Fantasy</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('historical')}}">Historical</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('horror')}}">Horror</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('romance')}}">Romance</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('scifi')}}">Science Fiction</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('thriller')}}">Thriller</a></li>
        </ul>
        <!-- Main navbar section -->
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('home')}}" class="brand-logo site_title">Shelf Life</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('addbook')}}">Add A Book</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">The Library <i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="{{url_for('log_out')}}">Log Out</a></li>
                </ul>
                
            </div>
        </nav>
        <!-- Navbar sidenav section -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('addbook')}}">Add A Book</a></li>
            <li><a href="{{url_for('see_library')}}">Library</a></li>
            <li><a href="{{url_for('log_out')}}">Log Out</a></li>
        </ul>
    </header>
    <!-- Block content -->
    <main>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </main>
    <!-- Footer -->
    <footer class="page-footer">
        <div class="footer-copyright footer-content">
            <!-- Copyright -->
            <div class="container col l6 s12">
                © 2020 Copyright Dominic Beesley
            </div>
            <!-- Social media links -->
            <div class="col l6 s12 social"> 
                <a class="grey-text text-lighten-3" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook socialicon"></i></a>
                <a class="grey-text text-lighten-3" href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter socialicon"></i></a>
                <a class="grey-text text-lighten-3" href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram socialicon"></i></a>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown-trigger").dropdown();
            $('select').formSelect();
            $('.datepicker').datepicker({
                selectMonths: true,
                selectYears: 5, 
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false,
                format: 'dd/mm/yyyy'
            });
            $('.sidenav').sidenav();
            $('#genreselect').on('change', function() {
                $('#genre').val($('#genreselect').val());
            });
        });
    </script>
</body>
</html>