{% extends 'base.html'%}

{% block content %}

<div class="librarycontainer">
    <div class="librarytext">
        <!-- Website's title -->
        <div class="hometitle">
            <h2> Welcome to Shelf Life!</h2>
            <h3>A compendium of user-submitted book reviews</h3>
        </div>
        <!-- Introduction to website -->
        <div>
            If you’re a fan of literature and you’re looking for your new favourite book, then you’ve come to the right place. Whatever the genre, you're sure to find something here that will suit your tastes.
        </div>
        <div>
            You can even add your own favourite reads to the collection, and recommend them to other users.
        </div>
        <div>
            To get started, simply sign up (or log in, if you've been here before), and start adding away.
        </div>
        <div class="row">
            <!-- Button to log in -->
            <a class="waves-effect waves-light btn-large homebutton" href="{{url_for('loginpage')}}"><i class="material-icons right">beenhere</i>Log In</a>
            <!-- Button to register -->
            <a class="waves-effect waves-light btn-large homebutton" href="{{url_for('register')}}"><i class="material-icons right">create</i>Sign Up</a>
        </div>
    </div>
</div>





{% endblock %}