{% extends 'base.html'%}

{% block content %}
<div class="librarycontainer">
    <div class="librarytext">
        <h1><u>THE LIBRARY</u></h1>
        <div>To find out more about each book, just click on it.</div>
        <div>Or keep scrolling through until you see one you like.</div>
        <div>
            <a class="waves-effect waves-light btn">Contemporary</a>
            <a class="waves-effect waves-light btn">Crime</a>
            <a class="waves-effect waves-light btn">Fantasy</a>
            <a class="waves-effect waves-light btn">Historical</a>
        </div>
        <div> 
            <a class="waves-effect waves-light btn">Horror</a>
            <a class="waves-effect waves-light btn">Romance</a>
            <a class="waves-effect waves-light btn">Science Fiction</a>
            <a class="waves-effect waves-light btn">Thriller</a>
        </div>
        
    </div>
</div>

<div class="carousel">
{% for book in library %}
    <a class="carousel-item z-depth-5" href="{{url_for('view_book', book_id=book._id)}}"> <img src="{{book.image}}"></a>
{% endfor %}
  </div>

{% endblock %}