{% extends 'base.html'%}

{% block content %}

<div class="sorrycontainer">
    <div class="sorrytext">
        <!-- Introductory text -->
        <h1>See you soon!</h1>
        <div>
            You're all logged out now.
        </div>
        <!-- Link to log in -->
        <div>
            If you want to log back in again, just <a href="{{url_for('loginpage')}}">click on this link</a>.
        </div>
        <!-- Link to home page -->
        <div>
            Or you can head on over to the <a href="{{url_for('home')}}">home page</a> instead.
        </div>
    </div>     
</div>



{% endblock %}