{% extends 'base.html'%}

{% block content %}

<div class="sorrycontainer">
    <div class="sorrytext">
        <h1>Sorry!</h1>

        <div>
            You might have spelled something wrong there. 
        </div>
        <div>
            If you already have an account, click on log in to try again.
        </div>
        <div>
            If not, click on the sign up button.
        </div>

        <div class="row">
            <a class="waves-effect waves-light btn" href="{{url_for('loginpage')}}"><i class="material-icons right">beenhere</i>Log In</a>
            <a class="waves-effect waves-light btn" href="{{url_for('register')}}"><i class="material-icons right">create</i>Sign Up</a>
        </div>

    </div>     
</div>



{% endblock %}