{% extends 'base.html'%}

{% block content %}

<ul class="collection review_card">
        <li class="collection-item avatar">
            <img src="{{book.image}}" alt="Picture of book cover" class="circle cover_icon responsive-img">
            <span>
                <h4><strong>{{book.title}}</strong> by <em>{{book.author}}</em></h4>
            </span>
        </li>
        <li class="collection-item"><div><u>Genre:</u> {{book.genre}}</div></li>
        <li class="collection-item"><div><u>Review added on:</u> {{book.date_read}}</div></li>
        <li class="collection-item"><div><u>Book Review:</u> {{book.book_review}}</div></li>
        <li class="collection-item"><div><u>Review by:</u> <em>{{book.username}}</em></div></li>
        {% if session['username'] == book.username %}
            <li class="collection-item">
                <div>
                    <a class="waves-effect waves-light btn" href="{{url_for('edit_review', book_id=book._id)}}">
                        <i class="material-icons right">edit</i>
                        Edit Your Review
                    </a>
                    <a class="waves-effect waves-light btn" href="#">
                        <i class="material-icons right">delete</i>
                        Delete Your Review
                    </a>
                </div>
            </li>
        {% endif %}
</ul>


{% endblock %}